body 
{
 background-color: #f8f9fa;
}

.ramen-header 
{
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/miso_ramen.png') no-repeat center center;
background-size: cover;
color: white;
padding: 60px 0;
text-align: center;
}

.card {
border: none;
border-radius: 12px;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}